<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Página bacana em HTML</title>
	<link rel="stylesheet" type="text/css" href="estilo.css">
</head>
<body>

	<main>
		<section class="topo">
			<div class="logo">
				<a href="index.html">
					<img src="img/logo.png">
				</a>
			</div>
			<nav class="menu-superior">
				<ul>
					<li>Link 1</li>
					<li>Link 2</li>
					<li>Link 3</li>
				</ul>
			</nav>
			<div class="busca">
				<form>
					<input type="text" name="texto" id="texto">
					<button>Pesquisa</button>
				</form>
			</div>

		</section>
		<section class="slide">
			
		</section>
		<section class="servicos">
			
			<div id="servico1" >Servico 1</div>
			<div>Servico 2</div>
			<div>Servico 3</div>
		</section>
		<hr>
		<section class="projetos">
			<div class="titulo-projetos">
				<h2>Projetos</h2>
			</div>

			<article>
				<figure>
					<img src="img/projetos/default.png">
				</figure>
				<h3>Descrição</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
			</article>
			<article>
				<figure>
					<img src="img/projetos/default.png">
				</figure>
				<h3>Descrição</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
			</article>
			<article>
				<figure>
					<img src="img/projetos/default.png">
				</figure>
				<h3>Descrição</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
			</article>
			<article>
				<figure>
					<img src="img/projetos/default.png">
				</figure>
				<h3>Descrição</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
			</article>
		</section>
		<hr>
		<footer>
			<div class="contato">
				<h3>Contatos</h3>
				<form>
					<textarea rows="5" cols="20">Deixei sua mensagem</textarea>
					<br>
					<button>Enviar</button>
				</form>
			</div>
			<div class="redes">
				<div class="icones">
					<a href="#">
						<img src="img/icones/face.png">
					</a>
					<a href="#">
						<img src="img/icones/insta.png">
					</a>
					<a href="#">
						<img src="img/icones/youtube.png">
					</a>
					<a href="#">
						<img src="img/icones/link.png">
					</a>
					<a href="#">
						<img src="img/icones/twitter.png">
					</a>
				</div>
				<div class="itens">
					<article>
						<h3>Título</h3>
						<p>Lorem ipsum dolor sit amet, consectetur</p>
					</article>
					<article>
						<h3>Título</h3>
						<p>Lorem ipsum dolor sit amet, consectetur</p>
					</article>
					<article>
						<h3>Título</h3>
						<p>Lorem ipsum dolor sit amet, consectetur</p>
					</article>
				</div>
			</div>
		</footer>

	</main>

<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>


</body>
</html>